pg_data/base/
pg_data/global/
pg_data/pg_clog/
pg_data/pg_commit_ts/
pg_data/pg_dynshmem/
pg_data/pg_logical/
pg_data/pg_multixact/
pg_data/pg_notify/
pg_data/pg_replslot/
pg_data/pg_serial/
pg_data/pg_snapshots/
pg_data/pg_stat/
pg_data/pg_stat_tmp/
pg_data/pg_subtrans/
pg_data/pg_tblspc/
pg_data/pg_twophase/
pg_data/pg_xlog/
pg_data/pg_hba.conf
pg_data/pg_ident.conf
pg_data/PG_VERSION
pg_data/postgresql.auto.conf
pg_data/postgresql.conf
pg_data/postmaster.opts
pg_data/postmaster.pid